GOOGLE_OAUTH_CLIENT_ID=318840295706-ek9gvdcgrv5smmot4m6i4avd4rn0t7bb.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=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

WEBSITE_GDRIVE_ROOT_ID=1nnQhhhwk_OS1z_O9qPC-NT1z7BY2ugdr
WEBSITE_LOCAL_ROOT=/Users/ethanadmin/projects/hackforla-website
WEBSITE_SUFFIX=-gdoc

TEST_GDRIVE_ROOT_ID=1LVMHsrFozAj_MniCOd7CtibYRM3uNUwR
TEST_LOCAL_ROOT_DIR=/Users/ethanadmin/projects//hfla-utils/utils/gdocs2md/src/__tests__
TEST_SUFFIX=-gdoc-test

MOCK_GDRIVE_ROOT_ID=1LVMHsrFozAj_MniCOd7CtibYRM3uNUwR
MOCK_LOCAL_ROOT_DIR=/Users/ethanadmin/projects//hfla-utils/utils/gdocs2md/src/__tests__/mocks
MOCK_SUFFIX=-gdoc-mock

FILE_PREFIX=_

GITHUB_NAME=Ethan Strominger
GITHUB_EMAIL=ethanstrominger@gmail.com
GITHUB_OWNER=ethanstrominger
GITHUB_REPO=website
GITHUB_COMMENT="Automated google docs to markdown update"
GITHUB_TOKEN=
GITHUB_BRANCH={
    "default": "pending",
    "dev": "dev",
    "draft": "draft",
    "in-review": "in-review",
    "production": "gh-pages"
}

GOOGLE_DOCS_TOKEN=GOOGLE_DOCS_TOKEN={"access_token":"ya29.a0AX9GBdWIwjYsbT8_dODlkg5wwPXbI7cjDHTu4IOi7dlc3xHw4kOZZFt4WKLvgtIyI8HjvanIlEpp5fb5QSjvGP25dXbxkvApl1ZDOjYlzv858Y5FFRlkWysQ6-JwnXtSTzAM8MyDpLJg4lzjDXq5CNeQwhIWaCgYKAVsSARISFQHUCsbCzmTx3KydgTWDaqkQi_fU6Q0163","refresh_token":"1//01herpUYF8gs6CgYIARAAGAESNwF-L9IrKBU-pyuNccqOK_JLgl9QU-GgcUeGMyk07Ol_gAiWAPgYDhyE9txfXMIog90xM130-RQ","scope":"https://www.googleapis.com/auth/documents.readonly https://www.googleapis.com/auth/drive.readonly","token_type":"Bearer","expiry_date":1673470946721}
GOOGLE_DOCS_TOKEN={"access_token":"ya29.a0AX9GBdX6K3RWcV_wzCrYLVoQo9F9_id_aCmc_ypx8nvumRZVcn9usXMNkjuUo8o0Qtel1Ywuu4ChV_HfrmqHeTvpolMDme1BhQSN0HVjMbEN1una3Fgo-yz_wzgbtJvJJflYXUGiOpNMJIJczsTBeuxc3UZDaCgYKAfgSARISFQHUCsbCPZM_064UeZ5-moO5viyzUg0163","refresh_token":"1//01uPyIWAtNef1CgYIARAAGAESNwF-L9IrEohp-9z2_Jl-w06cSW21aqIc1G3VCiKM3jwol0MSPJzs1dFu0ZtAINJELU5lOFB3jik","scope":"https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/documents.readonly","token_type":"Bearer","expiry_date":1673672024425}
GOOGLE_DOCS_TOKEN={"access_token":"ya29.a0AX9GBdVcPrq6uj12yVs5aSUav4syezLLAPqpPLuT2fE4aECcV2LyG78-gqHPuoT6URXbvyvqdcSD8SVyn1SuH7ahdQox7r9VgiPJj4Yfk-bdNtQusCe6uQ1FRUqecA3_w6oV9ZwgP1rJ0iLHDLs3rXU4GdAVaCgYKAYwSARISFQHUCsbCV-ROEfjaSRZLlxcKb3LVWw0163","refresh_token":"1//01ETjpg7vn-NXCgYIARAAGAESNwF-L9IrWoJLDTiWieLQirebHplluW2QWi3ZnSwLL1pPfu5FoFnQQKjxvra9Icb6pzNexT5mzZY","scope":"https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/documents.readonly","token_type":"Bearer","expiry_date":1673748059943}
GOOGLE_DOCS_TOKEN={"access_token":"ya29.a0AX9GBdVITdL7LJ_T29MIBD3GjrOcxh-M27IbpmDOqyP1GQfAGnGby9gepplwaD8CaWkmbAM_ag89rhcZgeXP3gwKzVGpxSp9qLwJYHTMcyrU_1SNErisd53gRn6ILSVSkfITpmeWXM2voFygwkZDVUuj3EpsaCgYKAWsSARISFQHUCsbCuDNtL6fOYfjJCN7ZS83KeA0163","refresh_token":"1//01jBiL06_x1FUCgYIARAAGAESNwF-L9Ircr9XGOilRaz9tf1xQ-pvZr4us_BtG3cLxiEWwkgfLKVoQ4A86NqgAH5r6Aef8vAQFLU","scope":"https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/documents.readonly","token_type":"Bearer","expiry_date":1673759569545}
GOOGLE_DOCS_TOKEN={"access_token":"ya29.a0AX9GBdUitzojRRQAdfNFD1-eY3qNba-WbAJzs9S4bT4R6zsJENWjRqixc_Dat6pVYwRH5VgcfpYAxzv-xkdkiqpPqFzjh9FgZW7toFPwg4Gfw9Fz0gcMlsr1vC7y7J8WZCrI99sMu7TVBNfk3nNmuWEsinsvaCgYKAUMSARISFQHUCsbCwn-Q6bkOOcj5Tug1_myDFg0163","refresh_token":"1//01XWtNqGrBjNaCgYIARAAGAESNwF-L9IrSuo_x3aodcVjdrWjUqi2m0brIZ7e3bQqCtU92UqL04iqjKOiUQTTLZFJMnWJCowISTk","scope":"https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/documents.readonly","token_type":"Bearer","expiry_date":1673793513423}
GOOGLE_DOCS_TOKEN={"access_token":"ya29.a0AX9GBdVMEnN7Xj0ZSzhWnr2av-hD6neUg5oZZGPD6PZNAoEtkv_wEufIm5RH1_QtZnaDK1Ke2i0ttFEfxAp_tye833xjhGEEUehkzZ3tvxhIunIL8sh3x_13qkHgXkoItfkxljNP9S1Yh11_e6yfRuwWGb_DaCgYKAZESARISFQHUCsbC-dgyODvbGQ_EQKcWcLEOgQ0163","refresh_token":"1//01-KYSXGQ1ukjCgYIARAAGAESNwF-L9Ir6KKdi2Yt8X1YOHeWxVMZYmeVUtAx8W5nl_DtmnTGYSRE6Pp76zZwP2RIf0agmHwn3D0","scope":"https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/documents.readonly","token_type":"Bearer","expiry_date":1673797985256}
GOOGLE_DOCS_TOKEN={"access_token":"ya29.a0AX9GBdWOQemYfWIRvcVVaQSNePxVPHs6YE3apHRyoa6OgzSBbc1a2voXSMHDM1Y22flDxe0qEEHAF8k7dOhxtHGquUvy_xap3pv53jNw4-P7t_IDBx-4LNfIVa0CVydhd7rys2cDEVoRBQMfO5P4olOxt206aCgYKAegSARISFQHUCsbCP4NP77cQQieEVnbYZTq2Zw0163","refresh_token":"1//015HDJIKOWx8WCgYIARAAGAESNwF-L9IrhMPI1tln3GAZJc3Din1PT5HA5C9CObBOxRdrY6u62ii_rhHKXv_p6NKqcgpbR5lRM2M","scope":"https://www.googleapis.com/auth/documents.readonly https://www.googleapis.com/auth/drive.readonly","token_type":"Bearer","expiry_date":1673961853291}
GOOGLE_DOCS_TOKEN={"access_token":"ya29.a0AX9GBdVLICW__s4TammqfjOMFMjuNZSucX4tIb1hJpe6dxVJcQ2KfwnkzX9fwB0VDNs8ydyQrwM-xrPLnnFHrHdU6J8D9EwvgE-gQzsBfjdRhkV78fMvgLlehIGxV7LvKxdcdqqCs_aTRpmKWYhOPf415-RDaCgYKAdISARISFQHUCsbCmFl7oBhkMiRFerU9I6vsnw0163","refresh_token":"1//01Nifwhze_E_fCgYIARAAGAESNwF-L9Iri8z_3EWui8c7D1mCzxnk4zRtZ4xw6UZiWL37ZNBoeJW7odfj8bFhf70Jl0KrbOaelxo","scope":"https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/documents.readonly","token_type":"Bearer","expiry_date":1673981367450}
GOOGLE_DOCS_TOKEN={"access_token":"ya29.a0AX9GBdVlJedCflLZ8r2S390HaJGqnPLdVuEw7kk9_zmKDo_90bJhN8_0Xau0v_sP5ksuVt8koFMNIuVZBgyKkEjQchAXzhC1ieQKUO3QKi7OOjpnPLBnFutGor-8W_mYsI8DjgYd9zGbkH27D9rNB_vk8XUBaCgYKAUgSARISFQHUCsbCfXsnrUFAkyad1KQLyQnJdg0163","refresh_token":"1//011fXz3-ZSL4sCgYIARAAGAESNwF-L9IrSMiUnYx1MY8_Bf5_Mm5tbghmYzzlmxuscM91LxJM9E_3UcthZq3ZAffCnHlMjBrakA0","scope":"https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/documents.readonly","token_type":"Bearer","expiry_date":1674059376560}
GOOGLE_DOCS_TOKEN={"access_token":"ya29.a0AX9GBdWUILq5psSXXTqpUshRp0_cFWlkiPuZfCGN0TT6WFgcvzz2kLysUadSnWnBzHE6P57wML0Ye03st7WWvWzpB2Sh07J1IXAyNhfbzGC_GkvRwCYpD7IDQidfCmIWEPkgpkNDZvVgypPM8xbiw5Ur4CH8aCgYKAQASARISFQHUCsbCKN1x-KBpFk3c2s0eUHV74g0163","refresh_token":"1//01zgIu9V6c_lYCgYIARAAGAESNwF-L9Ir-8hlLBZxZWnlEv-3anLncDdOb-FZzOrDPIvDrxmLffJdhKyVi6MxCryWbs27OnupKts","scope":"https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/documents.readonly","token_type":"Bearer","expiry_date":1674073175599}
GOOGLE_DOCS_TOKEN={"access_token":"ya29.a0AX9GBdXrmC_4aSxAdq6TKflMZdtCR8Q11GLK44RRNOhLttUfmkPlcDzm5vrqQGKam3YESoobCzfxDsSWwcln5zGcs5H7qg65LzV0w8YY7wV7VU-uqO0elAHnz86Jw7Bt3dZR_COhZYbbtpqTmZNd63HYoczTaCgYKAVMSARISFQHUCsbCNPjNdee_w1tacy5p91QwEg0163","refresh_token":"1//01zI36oWiPziqCgYIARAAGAESNwF-L9IrSRySvN3jbAPPc-zj3JD1mcoyRo7y0C9y4l67u1532RR0a-jEoEubv1HfwKOuujyVYHQ","scope":"https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/documents.readonly","token_type":"Bearer","expiry_date":1674085162054}
GOOGLE_DOCS_TOKEN={"access_token":"ya29.a0AX9GBdUX4ic4gMpUUINNTHKDnrd0Wx6Cb3GbcA01fyBDUWZgkM0K4I52078_F2v3d0vTuluDsnWK6eF1Biv_j76v39WnLxVa8Aa2jIN1-1F4xa52pSLFZTFEwbWFBcsKFS1UjTIIlGNn3HULEjZmLSL0ivGUaCgYKAU4SARISFQHUCsbCMg4WVjgs4PQOgkgQ0NvpxA0163","refresh_token":"1//01NOGoQPc3xSxCgYIARAAGAESNwF-L9Ir9RSUFytUNddo0qOGmbfQiE-KRXGcT-GoSy2tx4C7TMJ9LnU-KkOR-J-GrYYwqChEC2Y","scope":"https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/documents.readonly","token_type":"Bearer","expiry_date":1674085203188}
