GOOGLE_OAUTH_CLIENT_ID=318840295706-ek9gvdcgrv5smmot4m6i4avd4rn0t7bb.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=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

WEBSITE_GDRIVE_ROOT_ID=1nnQhhhwk_OS1z_O9qPC-NT1z7BY2ugdr
WEBSITE_LOCAL_ROOT=/Users/ethanadmin/projects/hackforla-website
WEBSITE_SUFFIX=-gdoc

TEST_GDRIVE_ROOT_ID=1LVMHsrFozAj_MniCOd7CtibYRM3uNUwR
TEST_LOCAL_ROOT_DIR=/Users/ethanadmin/projects//hfla-utils/utils/gdocs2md/src/__tests__
TEST_SUFFIX=-gdoc-test

MOCK_GDRIVE_ROOT_ID=1LVMHsrFozAj_MniCOd7CtibYRM3uNUwR
MOCK_LOCAL_ROOT_DIR=/Users/ethanadmin/projects//hfla-utils/utils/gdocs2md/src/__tests__/mocks
MOCK_SUFFIX=-gdoc-mock

GITHUB_NAME=Ethan Strominger
GITHUB_EMAIL=ethanstrominger@gmail.com
GITHUB_OWNER=ethanstrominger
GITHUB_REPO=website
GITHUB_COMMENT="Automated google docs to markdown update"
GITHUB_TOKEN=
GITHUB_BRANCH={
    "default": "pending",
    "dev": "dev",
    "draft": "draft",
    "in-review": "in-review",
    "production": "gh-pages"
}

GOOGLE_DOCS_TOKEN={"access_token":"ya29.a0AX9GBdWtiBv9p0nPcyc6YzogQPfToLmnRk87OJWHFKsfMU8bwM7rPqbgb2O2bpo48VqAarWm-EUb40fekaxdVCIAZv38G3OxwdGc_I5baNG7CSlKTCQA3lQ0K9wNOaF08h6meGi_QznA2G_xLSWUMfvdhZmnaCgYKAVYSARISFQHUCsbCTnEFm6-AYAZWuqCFZLPyMw0163","refresh_token":"1//01bjxQpmTMVbwCgYIARAAGAESNwF-L9IrZmgGcvsGVhaMFYXMh4TOg8vrNQKBorwuH7Vam58BpqMBkF7JstlplsQmAgCBs6yUTms","scope":"https://www.googleapis.com/auth/documents.readonly https://www.googleapis.com/auth/drive.readonly","token_type":"Bearer","expiry_date":1672796085672}
GOOGLE_DOCS_TOKEN={"access_token":"ya29.a0AX9GBdUyBszeiL7Wgs7zhKSZyjleSZ23sbHGQ8S3IoyI2bG8TaxAZ-YWoKdGW_q0_UTz_-38aqCoswEWavKOkfwtvdF7BcUTig6zMorFlRuH2ChceLL0fq3uXW8QuEX7zRWdYRhMJwCre8XlNHDSu-omj4fmaCgYKASgSARISFQHUCsbCyeK4MPyssHJrw737SaCUuA0163","refresh_token":"1//01YiArvEelaCyCgYIARAAGAESNwF-L9IrIfZx93f741j-TwsqlwDV_waa-blrJ5Iv_-gtMNYtt2fMTcQ8PnhT00x7Z4egjutSuKI","scope":"https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/documents.readonly","token_type":"Bearer","expiry_date":1673361225767}
